<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/base_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 관리 APP 메인</title>
</head>
    <header layout:fragment="header">
        <h1>인덱스 페이지 헤더 입니다!</h1>
        <hr>
    </header>

    <main layout:fragment="contents">
        <div sec:authorize="isAuthenticated()">
            <h3>Welcome <span sec:authentication="name"></span></h3>
        </div>
<!--        <div sec:authorize="hasAnyAuthority(SUPER_USER)">-->
<!--            <h3>Welcome <span sec:authentication="name"></span></h3>-->
<!--        </div>-->
        <a href="/products">Rest API URL 1(기본 상대경로)</a> <br>
        <a th:href="@{/products}">Rest API URL 2(thymeleaf 상대경로)</a> <br>
        <a href="thymeleaf/ex01">Rest API URL(상대경로)</a> <br>
        <a href="http://localhost:8080/thymeleaf/ex01">타임리프 테스트 URL(절대경로)</a> <br>
        <a th:href="@{thymeleaf/ex01}">타임리프 테스트 URL (th:href)</a> <br>
        <a th:href="@{thymeleaf/product-page}">타임리프 상품목록 URL (기본값 파라미터)</a> <br>
        <a th:href="@{thymeleaf/product-page(page='1',size='5')}">타임리프 상품목록 URL (커스텀 파라미터)</a> <br>
        <li>
            <a th:href="@{/products-layout}">12323</a>
        </li>
        <li>
            <a th:href="@{/products-pagenav}">123213nav</a>
        </li>
    </main>

</html>